nav{
  padding:5px
}

nav a{
  color:rgb(34, 47, 119);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align:center;
  font-size: 50px;
  flex:1;
  text-decoration: none;
}

nav a:hover{
  color:rgb(176, 216, 235);
rgb(0, 110, 255)
}

*{
  font-family: Arial;
}



nav a:hover {
  border-bottom: 2px solid rgb(70, 42, 42);
}

.container2 {
  text-align: center;
}
.container3 {
  text-align: center;
}
.container4 {
  text-align: center;
}
.container5 {
  text-align: center;
}

.banner{
  background-color:rgb(255, 0, 0);
  color:rgb(35, 75, 255);
  text-align: center;
  font-size: 20px;
}

.main h1{
  font-size:200px;
  color:rgb(255, 0, 0);
  text-align: center;
}

.main p{
  font-size: larger;
  color:whitesmoke;
  text-align: center;
}

#footer{
  background-color:rgb(159, 199, 152);
  color:rgba(0, 0, 0, 0.822);
  padding:10px;
  text-align: center;
}

.container{
  display:flex;
}

.container div{
  flex:1;
  text-align: center;
  background-color: tan;
  border: black 2px solid;
  padding: 10px;
  margin: 20px;
}
